@use 'sass:math';

$baseline: 1.5rem;
$headlines: (
	'h1': 2.25rem,
	'h2': 1.75rem,
	'h3': 1.25rem,
	'h4': 1rem,
	'h5': 0.875rem,
	'h6': 0.75rem
);
$gutter: 1.5rem;
$gutter-lg: $gutter * 3;
$gutter-sm: math.div($gutter, 2);
$gutter-xs: math.div($gutter, 3);
$border-radius: 3px;
$dropshadow: 0 4px 8px rgba(black, 0.16), 0 1px 4px rgba(black, 0.08);
