@use '../utils/' as *;

// modal
dialog.modal {
	position: fixed;
	z-index: 1000;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	padding: $gutter;
	border: 0;
	border-radius: $border-radius;
	box-shadow: $dropshadow;

	&::backdrop {
		background: rgba(black, 0.25);
	}
}
